<html>
<head>
    <title>History of Network</title>
    <link rel="stylesheet" href="articles_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>


<div class="menu-bar">
    <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="team.html">Team</a></li>


        <li><a href="#">Video</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="invention.html">Invention of the internet</a></li>
                    <li><a href="browserwars.html">Browser wars</a></li>
                    <li><a href="internet-search.html">Internet Search</a></li>
                    <li><a href="dot-com.html">Dot Com Bubble</a></li>
                    <li><a href="People.html">People</a></li>
                </ul>
            </div>
        </li>

        <li><a href="#">Articles</a></li>
        <li><a href="Calculator_Program.html">Calculator Program</a></li>


    </ul>
</div>


<div class="row">
    <div class="col">
        <h1>Python Articles</h1>
        <p>These are all the python articles which have been done using code snippets, feel free to explore :)</p>

    </div>
    <div class="col">
        <div class="card card1">
            <h4>Article 1</h4>
            <p>Talks about Pylint implementing and Gist of OOP Concepts.</p>
            <a href="article1.html">Explore</a>
        </div>
        <div class="card card2">
            <h4>Article 2</h4>
            <p>Demonstration of AAA testing and it's importance.</p>
            <a href="article2.html">Explore</a>
        </div>
        <div class="card card3">
            <h4>Article 3</h4>
            <p>Explanation of OOP's concept using Calculator as example.</p>
            <a href="article3.html">Explore</a>
        </div>
        <div class="card card4">
            <h4>Article 4</h4>
            <p>Demonstration of Separation of Concerns using Calculator as example.</p>
            <a href="article4.html">Explore</a>
        </div>
    </div>
</div>

<footer>
    <div class="footer" style=" text-align: center; margin-right: 20px;  font-size: 15px; color: white; background-color: black">
        &copy; <a href="https://github.com/shilpa271/WS-proj2.git"> 2021 Shilpa Parameshwara</a> - <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Farticles7.eastus.azurecontainer.io%2Farticles.html">W3C</a>
    </div>


</footer>

</body>

</html>