@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    background-image: url("../static/images/front-page.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
}
.menu-bar{
    background: rgb(0, 0, 0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width:120px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
    color: #ffffff;
}
.active, .menu-bar ul li:hover{
    background: #FF69B4 ;
    border-radius: 3px;

}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(238, 130, 238);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted #ffffff;
    background: transparent;
    border-radius: 0;
    text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    color:#FF69B4;
}
.row{

    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}
.col-1, .col-2{
    flex-basis: 50%;
    overflow: hidden;
}
.col-2 img{
    width: 100%;
    height:544px;
}

.col-1{
    padding: 3% 5%;
    position: relative;
}
.col-1 h5{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #333;
}

.col-1 p{
    color: #777;
    line-height: 22px;
    margin: 15px 0 30px;
}

.col-1 ul{
    position: absolute;
    bottom: 30px;
}
.col-1 ul li{
    list-style: none;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #bfbfbf;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.col-1 ul .active{
    background: #333;
}

.zoom{
    animation: zoomout 0.5s linear 1;
}

@keyframes zoomout{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}